<%= render 'toppages/introduction' %>
<div class="container">
  <div class="row mt-4">
    <aside class="col-sm-2">
      <%= render 'layouts/sidebar' %>
    </aside>
    <div class="col-sm-8">
      <% if logged_in? %>
        <%= render 'posts/new', post: @post %>
      <% end %>
      <div class="row justify-content-center my-3">
        <div class="col-sm-12">
          <%= render 'toppages/search' %>
        </div>
      </div>
      <div class="row justify-content-center my-3">
        <div class="col-sm-12">
          <%if @count_posts == 0 %>
            <h1>結果がありません</h1>
          <% else %>
           <%= render 'posts/index', posts: @posts %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
