<% if logged_in? %>
  <div class="row justify-content-center mt-3">
    <div class="col-sm-10">
      <%= render 'posts/new', post: @post %>
    </div>
  </div>
<% else %>
  <div class="row justify-content-center mt-3">
    <div class="col-sm-10">
      <div class="center jumbotron">
        <div class="text-center">
          <%= render 'toppages/introduction'%>
          <%= link_to '今すぐ登録!', signup_path, class: 'btn btn-lg btn-primary mt-2' %>
      </div>
      </div>
    </div>
  </div>
<% end %>
<div class="row justify-content-center my-3">
  <div class="col-sm-10">
    <%= render 'toppages/search' %>
  </div>
</div>
<div class="row justify-content-center my-3">
  <div class="col-sm-10">
    <%= render 'posts/index', posts: @posts %>
  </div>
</div>
