<div class="new">
  <div class="headder">
    <h5>新規投稿</h5>
  </div>
  <div class="container">
    <%= form_with(model: post, local: true) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
      <div class="form-group title">
          <%= f.text_field :title, class: 'form-control', placeholder: '投稿タイトル' %>
      </div>
      <div class="form-group content">
          <%= f.text_area :content, class: 'form-control', size: '1x8', placeholder: '投稿内容：釣った場所・魚の種類・仕掛け・コメント'%>
      </div>
      <div class="form-group dropdown">
        <div class="dropdown-item">
          <%= f.select :prefecture_id, [
              ["都道府県を選択してください"],
              ["北海道", 1],["青森県", 2],["岩手県", 3],["宮城県", 4],["秋田県", 5],
              ["山形県", 6],["福島県", 7],["茨城県", 8],["栃木県", 9], ["群馬県", 10],
              ["埼玉県", 11],["千葉県", 12],["東京都", 13],["神奈川県", 14],["新潟県", 15],
              ["富山県", 16],["石川県", 17],["福井県", 18],["山梨県", 19],["長野県", 20],
              ["岐阜県", 21],["静岡県", 22],["愛知県", 23],["三重県", 24],["滋賀県", 25],
              ["京都府", 26],["大阪府", 27],["兵庫県", 28],["奈良県", 29],["和歌山県", 30],
              ["鳥取県", 31],["島根県", 32],["岡山県", 33],["広島県", 34],["山口県", 35],
              ["徳島県", 36],["香川県", 37],["愛媛県", 38],["高知県", 39],["福岡県", 40],
              ["佐賀県", 41],["長崎県", 42],["熊本県", 43],["大分県", 44],["宮崎県", 45],
              ["鹿児島県", 46],["沖縄県", 47]
              ], class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :location, '位置情報' %>
        <%= f.text_field :location, class: 'form-control' %>
      </div>
      <div class="media">
        <img src="#">画像を選択してもらう
      </div>
      <%= f.submit '投稿', class: 'btn btn-primary btn-block' %>
    <% end %>
  </div>
</div>