<%= javascript_include_tag 'jquery.raty' %>

<div class="container">
<div class="headder">
    <p>新規投稿</p>
  </div>
<div class="index">
  <div class="col-sm my-3">
    <%= form_with(model: post, local: true) do |f| %>
      <%= f.hidden_field :latitude, value: nil, id: 'latitude' %>
      <%= f.hidden_field :longitude, value: nil, id: 'longitude' %>
      <%= render 'layouts/error_messages', model: f.object %>
      <div class="form-group title">
        <%= f.text_field :title, class: 'form-control', placeholder: '投稿タイトル' %>
      </div>
      <div class="form-group" id="star">
        <%= f.label :おすすめ度 %>
        <%= f.hidden_field :rate, id: :review_star, class:'form-control' %>
      </div>
      <script>
        $('#star').raty({
          size     : 24,
          starOff:  '<%= asset_path('star-off.png') %>',
          starOn : '<%= asset_path('star-on.png') %>',
          starHalf: '<%= asset_path('star-half.png') %>',
          scoreName: 'post[rate]',
          half: true,
        });
      </script>
      <div class="form-group content">
        <%= f.text_area :content, class: 'form-control', size: '1x6', value: text_area_value %>
      </div>
      <div class="form-group dropdown">
        <div class="dropdown-item">
          <%= f.select :prefecture_id, [ ["都道府県を選択してください"],
            ["北海道", 1],["青森県", 2],["岩手県", 3],["宮城県", 4],["秋田県", 5],
            ["山形県", 6],["福島県", 7],["茨城県", 8],["栃木県", 9], ["群馬県", 10],
            ["埼玉県", 11],["千葉県", 12],["東京都", 13],["神奈川県", 14],["新潟県", 15],
            ["富山県", 16],["石川県", 17],["福井県", 18],["山梨県", 19],["長野県", 20],
            ["岐阜県", 21],["静岡県", 22],["愛知県", 23],["三重県", 24],["滋賀県", 25],
            ["京都府", 26],["大阪府", 27],["兵庫県", 28],["奈良県", 29],["和歌山県", 30],
            ["鳥取県", 31],["島根県", 32],["岡山県", 33],["広島県", 34],["山口県", 35],
            ["徳島県", 36],["香川県", 37],["愛媛県", 38],["高知県", 39],["福岡県", 40],
            ["佐賀県", 41],["長崎県", 42],["熊本県", 43],["大分県", 44],["宮崎県", 45],
            ["鹿児島県", 46],["沖縄県", 47]], class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :写真を追加 %>
        <%= f.file_field :image, class: 'form-control' %>
        <p><%= f.check_box :remove_image %>画像を削除する</p>
      </div>
      <%= button_tag :type=> 'submit', class: 'btn btn-primary btn-block' do %><i class="far fa-paper-plane"></i>投稿<% end %>
    <% end %>
  </div>
</div>
</div>