<%= javascript_include_tag 'jquery.raty' %>
<div class="container">
  <div class="row mt-4">
    <aside class="col-sm-2">
      <%= render 'layouts/sidebar' %>
    </aside>
    <div class="col-sm-8">
      <div class="show">
        <div class="headder"><p>投稿詳細</p></div>
        <div class="row justify-content-center mt-3">
          <div class="col-sm-10">
            <div class="card col-sm">
              <div class="row no-gutters">
                <div class="col-md-6 img-box">
                  <% if @post.image.present? %>
                    <%= image_tag @post.image.url, class: "img-item" %>
                  <% else %>
                    <%= image_tag 'no_image.png', class: "img-item" %>
                  <% end %>
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <p class="card-title">投稿者：<%= link_to @post.user.name, user_path(@post.user), :style=>"color:black;" %></p>
                    <p class="card-title">タイトル：<%= @post.title %></p>
                    <p class="card-text" id="star-rate-<%= @post.id %>">おすすめ度：</p>
                    <script>
                      $('#star-rate-<%= @post.id %>').raty({
                      starOff:  '<%= asset_path('star-off.png') %>',
                      starOn : '<%= asset_path('star-on.png') %>',
                      starHalf: '<%= asset_path('star-half.png') %>',
                      half: true,
                      readOnly: true,
                      score: <%= @post.rate %>,
                      });
                    </script>
                    <p class="card-text"><%=safe_join(@post.content.split("\n"),tag(:br))%></p>
                    <p class="card-text">
                      <small class="text-muted">
                        緯度：<%= @post.latitude %>
                        経度：<%= @post.longitude %>
                        <%= @post.prefecture.name %>
                        お気に入り：<%= @post.favorite_users.count %>
                      </small>
                    </p>
                    <% if current_user == @post.user %>
                      <div><%= link_to '編集', edit_post_path(@post), class: 'btn btn-primary' %></div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>