<header class="fixed-top">
  <nav class="navbar navbar-expand-sm navbar-light">
    <a class="navbar-brand" href="/">Fishers.logo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <% if logged_in? %>
          <li class="nav-item">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="fas fa-chess-king"></i><%= current_user.name %></a>
              <ul class="dropdown-menu dropdown-menu-right">
                <li class="dropdown-item">
                  <%= link_to user_path(current_user) do %><i class="fas fa-user-circle"></i>プロフィール<% end %></li>
                </li>
                <li class="dropdown-divider"></li>
                <li class="dropdown-item">
                  <%= link_to logout_path, method: :delete do %><i class="fas fa-sign-out-alt"></i>ログアウト<% end %>
                </li>
              </ul>
            </li>
        <% else %>
          <li class="nav-item">
            <%= link_to signup_path, class: 'nav-link' do %><i class="fas fa-check-circle"></i>登録<% end %>
          </li>
          <li class="nav-item">
            <%= link_to login_path, class: 'nav-link' do %><i class="fas fa-sign-in-alt"></i>ログイン<% end %>
          </li>
        <% end %>
        <%= link_to rank_path, class: "nav-link" do %><li class="nav-item"><i class="fas fa-medal"></i>ランキング</li><% end %>
      </ul>
    </div>
  </nav>
</header>